.App {
  text-align: center;
}

.Currently{
  text-Align: left;
}
.CurrentHeading{
  padding:40px;
}

.Ruler
{
  border-bottom:1px solid #CCC;
  width:100%;
  float:left;
  padding-bottom:8px;
}

.OpenSearch {
    position: fixed;
    right: 25px;
    bottom: 25px;
}
.OpenSearch a {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #2e7d32;
    background-image: url('./assets/icons/add.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 28px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    font-size: 0;
}
.Book{
  display: inline-block;
  margin: 50px;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: 0 0 2px 2px rgba(0,0,0,0.25);
}

.Author{
  color: blue;
}

.Myreads{
  background-color: aqua;
}
